<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>REGISTER</title>
</head>

<body>

    <h1>REGISTER</h1>
    <form action="/users/register" method="POST" accept-charset="utf-8">

        <label>User Name</label><input type="text" name="username" placeholder="USER NAME..." id="name">
        <br />
        <label>PASSWORD</label> <input type="password" name="password" id="password" placeholder="PASSWORD...">
        <br />
        <label>Email</label> <input type="email" name="email" id="email" placeholder="EMAIL...">
        <br />
        <button type="submit">REGISTER</button>

    </form>
</body>

</html>
