<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Resul Search</title>
</head>

<body>
    <h1>Result </h1>
    <% for(var i=0;i<searchWords.length;i++) { %>
    <div>
        <%=searchWords[i].name %>
        <br />
        <%=searchWords[i].Description %>
    </div>

    <% } %>

</body>

</html>
